@use "./breakpoints" as *;

.container {
  max-width: 800px;
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  margin-inline: auto;

  // @include breakpoint-up(phones-only) {
  //   padding-left: 2em;
  //   padding-right: 2em;
  // }
  @include breakpoint-up(tablet-landscape-up) {
    max-width: 1280px;
    padding-left: 4em;
    padding-right: 4em;
  }
  @include breakpoint-up(desktop-up) {
    padding-left: 5em;
    padding-right: 5em;
  }
}

.footer__container {
  @extend .container;
  max-width: 1800px;
  background-color: #f9fafb;
}
