@use "../../globals/breakpoints" as *;

.email-capture {
  display: flex;
  flex-direction: column;

  @include breakpoint-up(tablet-portrait-up) {
    flex-direction: row;
    gap: 1rem;
    align-items: baseline;
  }
}
